@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IEnumerable<FlightService.Data.Flight>
@{
    ViewData["Title"] = "Flights";
}

<div class="text-center">
    <h2>Flights</h2>
    <p>Nothing to see here</p>
</div> 